ResolverEcuacionCuadratica/ResolverEcuacionCuadratica.Test.Wcf/Service References/SREcuacion/ResolverEcuacionCuadratica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resolverLaEcuacionCuadratica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Primer" type="xs:double" />
        <xs:element minOccurs="0" name="Segundo" type="xs:double" />
        <xs:element minOccurs="0" name="Tercer" type="xs:double" />
        <xs:element minOccurs="0" name="Discriminante" type="xs:double" />
        <xs:element minOccurs="0" name="Raiz1" type="xs:double" />
        <xs:element minOccurs="0" name="Raiz2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resolverLaEcuacionCuadraticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Raiz1" type="xs:double" />
        <xs:element minOccurs="0" name="Raiz2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>